<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>
        secret
    </title>
</head>
<body align="center", bgcolor="black">
    <h2 style="color: white;">🔐 Enter Password to Unlock</h2>
    <form method="POST">
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Unlock</button>
    </form>

    {% if message %}
    {% if '✅' in message %}
        <p style="color: green;">{{ message }}</p>
        
    {% else %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
{% endif %}

    {% if sms %}
     <p style="color: red;">{{ sms }}</p>
     <img src="{{ url_for('static', filename='skull2.png') }}" style="max-width: 300px;">
    {% endif %}

    {% if secret_message %} 
        <h3>{{ secret_message }}</h3>
    {% endif %}

    {% if show_image %}
        <img src="{{ url_for('static', filename='anime1.png') }}" style="max-width: 300px;">
        <img src="{{ url_for('static', filename='anime2.png') }}" style="max-width: 300px;">
        <img src="{{ url_for('static', filename='anime3.png') }}" style="max-width: 300px;">
    {% endif %}

    {% if show_video %}
        <video controls width="300">
            <source src="{{ url_for('static', filename='1xtni...sani.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% endif %}
</body>
</html>
